.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(20, 30px); /* Anzahl der Spalten * Zellenbreite */
  grid-template-rows: repeat(20, 30px); /* Anzahl der Zeilen * Zellenhöhe */
  gap: 1px;
}

.cell {
  border: 1px solid #ccc;
  width: 30px; /* Zellenbreite */
  height: 30px; /* Zellenhöhe */
}

.snake {
  background-color: green;
}

.food {
  background-color: red;
}

.game-over {
  font-size: 2rem;
  font-weight: bold;
  color: red;
  margin-left: 20px;
}
